.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 1);
  background-image: url(../../../images/pen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  padding: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    padding: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 10px;
    /* position: static; */
  }

}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}