.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 1);
  background-image: url(../../../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .profile__add-button {
    width: 282px;
  }

}