.profile__container {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 10px;
  align-items: baseline;
  
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .profile__container {
    justify-content:baseline;
    padding-bottom: 5px;
    max-width: 282px;
  }

}
