.popup__save-button {
  width: 358px;
  height: 50px;
  margin: 48px auto 37px auto;
  border-radius: 2px;
  background: rgba(0, 0, 0, 1);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px auto;
  }

}

.popup__save-button:hover {
  opacity: .8;
  cursor: pointer;
}